
WebApplication1/WebApi/obj/Debug/netcoreapp2.2/WebApi.csprojAssemblyReference.cache
WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/storage.ide-wal
WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/storage.ide-shm
WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/storage.ide
WebApplication1/.vs/WebApplication1/v16/.suo
WebApplication1/.vs/WebApplication1/DesignTimeBuild/.dtbcache
WebApplication1/WebApi/obj/Debug/netcoreapp2.2/WebApi.csprojAssemblyReference.cache
WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/storage.ide-wal
WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/storage.ide-shm
WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/storage.ide
WebApplication1/.vs/WebApplication1/v16/.suo
WebApplication1/.vs/WebApplication1/DesignTimeBuild/.dtbcache
WebApplication1/.vs/WebApplication1/DesignTimeBuild/.dtbcache
WebApplication1/.vs/WebApplication1/DesignTimeBuild/.dtbcache
WebApplication1/.vs/WebApplication1/v16/.suo
WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/storage.ide
WebApplication1/.vs/WebApplication1/v16/.suo
WebApplication1/.vs/WebApplication1/v16/.suo
